.App{
  padding: 0px 20px;
}

.list{
  display: flex;
}

.buttons{
  background-color: aqua;
  border: none;
  border-radius: 200px;
  padding: 1px 30px;
  font-weight: bold;
}

.buttons:hover{
  border: 1px solid black;
}